COMMON/assets/scripts
COMMON/assets/sounds
*.o

Source/assimp
Source/bullet/bullet-2.80-rev2531
Source/bullet/bullet-2.81-rev2613
Source/facebook
Source/imageMagick
Source/jpg
Source/ogg
Source/oryol
Source/python
Source/tbox
Source/theora
Source/turbobadger
Source/vorbis
