<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NJLIGameEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOSx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C18B846B1C9B96E1003628FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18B84881C9B96E1003628FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18B8F891C9BBB35003628FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18B8FA51C9BBB36003628FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18B9A241C9C5455003628FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
